{% extends 'base.html' %}
{% load static %}
{% block title %}Success{% endblock title %}
{% block content %}

<div class="d-flex align-items-center min-vh-100">
    <div class="container text-center">
        <div class="row justify-content-center">
            <h1 class="text-success">Success!</h1>
        </div>
        <div class="row justify-content-center">
            <span>You've successfully reserved a space in {{ lot.nickname }} for {{event.name}} on {{event.date}}!</span>
        </div>
	<div>
		<img src="{% static "images/confirmation.png" %}">
	</div>
        <div class="row justify-content-center">
            <span>Address: {{ lot.location }}</span>
        </div>
        <div style="padding: 20px" class="row justify-content-center">
            <a href="../" role="button" class="btn btn-primary">Home</a>
        </div>
    </div>
</div>
{% endblock content %}