{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}My Profile{% endblock title %}

{% block content %}
   {% if user.is_authenticated %}
        <div class="container">
        <div class="row">
            <h3>Reservations</h3>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Lot</th>
                        <th>Date</th>
                    </tr>
                </thead>

                <tbody>
                    {% if reservations %}
                            {% for reservation in reservations %}
                                <tr>
                                    <td>{{ reservation.event.name }}</td>
                                    <td>{{ reservation.lot.nickname }}</td>
                                    <td>{{ reservation.event.date }}</td>
                                </tr>
                            {% endfor %}
                    {% else %}
                        <div>
                            <tr>
                                <td><h4>You have not purchased any reservations yet</h4></td>
                            </tr>
                        </div>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <div class="row">
            <form method="post">
                {% csrf_token %}
                {{form|crispy}}
                <button class="btn btn-primary" data-toggle="modal" data-target="#confirmation">
                    Add Funds
                </button>
            </form>
        </div>
    </div>
    {% else %}
       <a href="{% url 'login'%}?next={{request.path}}">Login</a>
    {% endif %}
{% endblock content %}